table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 20px;
  }
  thead{
    background-color: black;
    color:white;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  input{
    padding: 10px;
    width: 250px;
    border-radius: 10px 0px 0px 10px;
  }
  .input-btn{
    cursor: pointer;
    margin-top:2px;
    width:150px;
    height: 40px;
    background-color: green;
    color:white;
    font-size: 16px;
    border-radius: 0px 10px 10px 0px;
  }
  .btn-page{
    cursor: pointer;
    margin-top:2px;
    width:150px;
    height: 40px;
    background-color: green;
    color:white;
    font-size: 16px;
  }
  span{
    color:blue;
    padding: 50px;
  }